version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      ADMIN_PASSWORD: "password"
      SECRET: "secret"
      NODE_HOST: "http://localhost:3000" # ! домен сайта, надо сменить на внешний при деплое
      PORT: 3000
    restart: unless-stopped
    volumes:
      - ./database:/app/database